
<div class="ttf-container">
    <div class="box-wrapper">
        <!-- <img *ngIf="!loaded" class="loading-holder" src="../../../assets/img/loading.svg"/> -->
        <div class="question-wrapper" *ngIf="ttfService.player != null" >
            <!-- <img *ngIf="!loaded" class="loading-holder" src="../../../assets/img/loading.svg"/> -->
            <!-- <img [hidden]="!loaded" id="palyer-image" (load)="loaded = true" src="{{ttfService.player.image}}"/> -->
            <img class="card-image" src="{{ttfService.player.image}}" alt="loading...">
            <div class="box-content">
                <div class="title">{{ttfService.player.name}} | {{ttfService.player.nickName}}</div>
                <p class="card-post-question-item" *ngFor="let question of ttfService.player.questions">
                    <label class="desc" for="{{question.id}}" [ngClass]="{'checked': isChecked, 'red': !question.correct}">
                        {{question.label}}: "{{question.content}}"</label>
                </p>
                <div class="footer">
                    <ul class="nav-btn">
                        <li><a href="javascript:void(0)" (click)="showAnswer()"><span>Answer</span></a></li>
                        <li><a href="javascript:void(0)" (click)="nextQuestion()" class="nav-btn-next" [class.disabled]="notEnabled" ><span>Next</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <round-winner></round-winner>
</div>