.round-winners__container {
    text-align: center;
    margin: auto;
    padding: 20px;
    background: white;

    .round-winners__title {
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Acme', cursive;
        color: #06D6A0;
    }

    .round-winners__user-view {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}