<div id="content_wrap">
    <header>
        <h1>Stone Shi</h1>
    </header>
    <div class="user"> </div>
    <div class="content">
        <!-- <div class="user"> </div> -->
        <section id="intro">
            <p><span>About Me</span></p>
        </section>
        <div id="section_portal">
            <section id="about">
                <p>If you're just curious about my story, or you just want to grab my profile, you're in the right spot.</p>
                <nav id="about_nav">
                    <a href="story" id="story" class="badge_link icon-news">
                        <span class="ribbon">
                            <span class="ribbon-stitches-top"></span>
                            <strong class="ribbon-content">
                                <span class="link_title">My Story</span>
                            </strong>
                            <span class="ribbon-stitches-bottom"></span>
                        </span>
                    </a>
                    <a href="profile" id="resume" class="badge_link icon-note newWindow">
						<span class="ribbon">
							<span class="ribbon-stitches-top"></span>
							<strong class="ribbon-content">
								<span class="link_title">My Profile</span>
							</strong>
							<span class="ribbon-stitches-bottom"></span>
						</span>
					</a>
                </nav>
            </section>
        </div>
    </div>
    <profile-intro></profile-intro>
</div>
