$desktop: "only screen and (min-width:1115px)";
$tablet: "only screen and (min-width:761px) and (max-width: 1114px)";
$medium: "only screen and (max-width:1025px)";//760
$smartphone: "only screen and (max-width:380px)";

$finch-background-main: "../assets/images/icons/info-tooltip-icn.png";
$smartphone-width: 380px;
$tablet-width: 761px;
$desktop-width: 1115px;

@mixin desktop {
    @media only screen and (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin smartphone {
    @media only screen and (max-width: #{$smartphone-width - 1px}) {
        @content;
    }
}
