<div id="note" class="profile-intro">
    <div class="sticky">
        <div class="inner">
            <span class="scratch"></span>
            <div class="paper">
                <div class="profile-intro-left">
                    <!-- <div class="profile-intro-left"> -->
                    <div class="profile-intro-left_img">
                        <img src="../../../../assets/img/players/stone.jpg" />
                    </div>
                    <div class="profile-intro-box profile-intro-box  profile-intro-left_name">
                        <h2>Stone Shi</h2>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis dolorem fugit molestiae!
                    </div>
                    <div class="profile-intro-box profile-intro-left_base">
                        <h1>Base Information</h1>
                        <div class="profile-intro-left_base_item">
                            <label>
                                <i class="fa fa-phone"></i> Job Role:</label>
                            <p>Director, Chapter Lead</p>
                        </div>
                        <div class="profile-intro-left_base_item">
                            <label>
                                <i class="fa fa-phone"></i> Team:</label>
                            <p>Digital Planning & Experience</p>
                        </div>
                        <div class="profile-intro-left_base_item">
                            <label>
                                <i class="fa fa-phone"></i> Working Years:</label>
                            <p>100 years, from 1900</p>
                        </div>
                        <div class="profile-intro-left_base_item">
                            <label>
                                <i class="fa fa-phone"></i> College:</label>
                            <p>Dalina Maritime University</p>
                        </div>
                    </div>
                    <div class="profile-intro-box profile-intro-left_slogan">
                        <h1>slogan</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, sit dolore rerum natus ipsum illo?</p>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="profile-intro-right">
                    <div class="profile-intro-right_intrest">
                        <div class="profile-intro-box profile-intro-right_about">
                            <h1>About me</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse blanditiis perferendis nemo voluptates
                                nihil voluptas. Earum similique omnis pariatur, quaerat illo dolor odio reprehenderit quidem
                                unde perferendis eligendi, hic libero l aboriosam nobis id tempora eos, at porro natus nisi
                                aperiam animi. Unde harum veniam temporibus totam, natus similique? Sunt, veniam.</p>
                        </div>
                        <div class="profile-intro-box profile-intro-right_find">
                            <h1>where you may find me</h1>
                            <div class="profile-intro-right_find_content">
                                <label>Lorem: </label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae accusamus sapiente nobis
                                    ratione </p>
                            </div>
                            <div class="profile-intro-right_find_content">
                                <label>Lorem: </label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae accusamus </p>
                            </div>
                        </div>
                        <div class="profile-intro-box profile-intro-right_expert">
                            <h1>My expert</h1>
                            <div class="expert-item">
                                <circle-bar [pValue]=25 [sName]='"Angular2"'></circle-bar>
                                <circle-bar [pValue]=50 [sName]='"NodeJs"'></circle-bar>                    
                                <circle-bar [pValue]=75 [sName]='"IOS"'></circle-bar> 
                            </div>
                        </div>
                        <!-- <div class="profile-intro-box profile-intro-right_superpower">
                                        <h1>superpower</h1>
                                    </div> -->
                    </div>
                    <div class="profile-intro-right_exp">
                        <div class="profile-intro-box profile-intro-right_exp_experience">
                            <h1>My experience</h1>
                            <div class="profile-intro-right_exp_content">
                                <label>Lorem: </label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae accusamus sapiente nobis
                                    ratione </p>
                            </div>
                            <div class="profile-intro-right_exp_content">
                                <label>Lorem: </label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae accusamus </p>
                            </div>
                            <div class="profile-intro-right_exp_content">
                                <label>Lorem: </label>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae accusamus </p>
                            </div>
                        </div>
                        <div class="profile-intro-box profile-intro-right_exp_goal">
                            <h1>My Goals</h1>
                            <ul class="profile-intro-right_exp_goal_content">
                                <li><i class="far fa-address-book" style="font-size: 48px;"></i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid?</li>
                                <li><i class="fa fa-star"></i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid?</li>
                                <li><i class="fa fa-star"></i>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid?</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <a href="#" class="btn">Download!</a> -->
            </div>
        </div>
    </div>
</div>